.footer-form {
  margin-left: auto;

  &__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--white-color);

    margin-bottom: 20px;
  }

  &__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--hero-color);
    padding-left: 16px;
    color: var(--white-color);
  }

  &__btn {
    display: flex;
    width: 200px;
    height: 50px;
    background-color: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: var(--white-color);
    margin-left: 12px;
    cursor: pointer;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  &__holder {
    display: flex;
    justify-content: space-between;
  }
}
