.footer {
  display: flex;
  background-color: #2f303a;
  margin: 0px auto;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 252px;

  &__logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--brand-color);
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    align-items: baseline;
  }

  &__color2 {
    color: var(--white-color);
  }

  .link:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-list {
    padding-left: 0px;
  }
  .address {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address:hover,
  .address:focus {
    color: var(--brand-color);
  }
  .address-container {
    margin-right: 70px;
  }

  .phone {
    display: flex;
    align-items: center;
    font-style: normal;
    padding-left: 10px;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-color);
  }

  .phone:hover,
  .phone:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
  }

  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: var(--grey-color);
  }

  .mail:hover,
  .mail:focus {
    color: var(--brand-color);
    fill: var(--brand-color);
  }

  .phone-mail {
    display: flex;
    align-items: center;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .phone-mail:hover,
  .phone-mail:focus {
    color: var(--brand-color);
  }

  .connect {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    display: inline;
  }
  .socnetwork-class-footer {
    display: flex;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 30px;
    justify-content: center;
  }

  .socnetwork-icon-item:not(:last-child) {
    margin-right: 10px;
  }
  .socnetwork-item-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .socnetwork-icon-footer {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: var(--white-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socnetwork-item-footer:hover,
  .socnetwork-item-footer:focus,
  .socnetwork-item-footer:hover .socnetwork-icon-footer,
  .socnetwork-item-footer:focus .socnetwork-icon-footer {
    fill: var(--white-color);
    background-color: var(--brand-color);
  }
}
