.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to right,
      var(--hero-color),
      var(--hero-color)
    ),
    url(../images/hero_background/hero_back.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1600px;

  &__title {
    width: 700px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--white-color);
  }

  .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--brand-color);
    border-radius: 4px;
    cursor: pointer;
  }
  &__btn {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border: #2196f3;
    color: var(--white-color);
    background: var(--brand-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }

  .button-color1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--brand-color);
    border: 0px;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
  }
  .button-color1:hover,
  .button-color1:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--white-color);
    background-color: var(--brand-color);
  }
}
