.portfolio {
  position: relative;
}

.portfolio.current::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 4px;
  left: 0px;
  top: 45px;
  background: var(--brand-color);
  border-radius: 2px;
}
.portfolio-container {
  display: flex;
  margin: 0px;
}
.portfolio-section {
  margin-top: 94px;
}
