.socnetwork-list {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__icon:hover,
  &__icon:focus,
  &__icon:hover &__link,
  &__icon:focus &__link {
    fill: var(--white-color);
    background-color: var(--brand-color);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background-color: var(--white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #afb1b8;
  }
}
